.buttoncard {
    display: flex;
    height: 70vh;
    align-items: center;
    text-align: center;
    align-self: center;
    align-content: space-between;
    flex-direction: column;
}

.buttoncard>p {
    padding-left: 20px;
    width: 100%;
}

.toCenter {
    padding-left: 20px;
    width: 100%;
}

.align {
    flex: 1 !important;
}

.top150 {
    padding-top: 150px;
}