/*.picturebox {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: auto;
    width: 90vw;
    text-align: center;
    margin: auto;
}*/

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.top {
    padding-top: 30px;
    background-color: darkcyan;
}

.column {
    float: left;
    text-align: center;
}

.left,
.right {
    width: 25%;
}

.middle {
    width: 50%;
}